.vscode/**
src/
tsconfig.json
node_modules/**
**/*.map
**/tsconfig.tsbuildinfo
*.vsix
.git/**
.github/**
scripts/**
jetbrains/**
.gitmodules
RELEASING.md
configs/**
logs/**/*.txt
logs/**/*.log
**/logs/
**/configs/
.vscode/settings.json
.vscode/extensions.json
.vscode/tasks.json
.vscode/launch.json
.vscode/ok-lang-hints-*.json
AGENT.md
AGENTS.md
